<br/><br/><br/>
<h1><%= @user.first_name%> <%= @user.last_name%></h1>
<p>description : 
<%=
    if @user.description == nil
        "pas encore de description"
    else
        @user.description
    end
%>
</p>
<p>email : <%=@user.email%></p>
<p>age : <%=@user.age%></p>
<p>ville : <%=@user.city.name%></p>
